<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yx.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.yx.domain.User">
    <!--@mbg.generated-->
    <!--@Table `user`-->
    <id column="id" property="id" />
    <result column="username" property="username" />
    <result column="password" property="password" />
    <result column="nickname" property="nickname" />
    <result column="gender" property="gender" />
    <result column="birthday" property="birthday" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, username, `password`, nickname, gender, birthday
  </sql>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from `user`
    where id = #{id}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.yx.domain.User" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into `user` (username, `password`, nickname, gender, birthday)
    values (#{username}, #{password}, #{nickname}, #{gender}, #{birthday})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.yx.domain.User">
    <!--@mbg.generated-->
    update `user`
    set username = #{username},
      `password` = #{password},
      nickname = #{nickname},
      gender = #{gender},
      birthday = #{birthday}
    where id = #{id}
  </update>
  <select id="findAll" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from `user`
    </select>
  <select id="findById" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from `user`
        where id=#{id,jdbcType=INTEGER}
    </select>
  <select id="findByUsernameAndPassword" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from `user`
        where username=#{username,jdbcType=VARCHAR} and `password`=#{password,jdbcType=VARCHAR}
    </select>
</mapper>