<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itheima.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.itheima.domain.User">
    <!--@Table `user`-->
    <id column="id" property="id" />
    <result column="username" property="username" />
    <result column="email" property="email" />
  </resultMap>
  <sql id="Base_Column_List">
    id, username, email
  </sql>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.itheima.domain.User" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into `user` (username, email)
    values (#{username}, #{email})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.itheima.domain.User">
    <!--@mbg.generated-->
    update `user`
    set username = #{username},
      email = #{email}
    where id = #{id}
  </update>
  <select id="findAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from `user`
    </select>
  <select id="findById" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from `user`
        where id=#{id,jdbcType=INTEGER}
    </select>
  <delete id="deleteById">
        delete from `user`
        where id=#{id,jdbcType=INTEGER}
    </delete>
</mapper>