<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yx.dao.UserMapper">
    <resultMap id="BaseResultMap" type="com.yx.domain.User">
        <!--@Table `user`-->
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="nickname" property="nickname"/>
        <result column="gender" property="gender"/>
        <result column="birthday" property="birthday"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@sql SELECT -->
        id, username, `password`, nickname, gender, birthday
        <!--@sql FROM `ssm_db`.`user` -->
    </sql>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        DELETE
        FROM `user`
        WHERE id = #{id}
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id"
            parameterType="com.yx.domain.User" useGeneratedKeys="true">
        INSERT INTO `user` (username, `password`, nickname, gender, birthday)
        VALUES (#{username}, #{password}, #{nickname}, #{gender}, #{birthday})
    </insert>
    <update id="updateByPrimaryKey" parameterType="com.yx.domain.User">
        UPDATE `user`
        SET username   = #{username},
            `password` = #{password},
            nickname   = #{nickname},
            gender     = #{gender},
            birthday   = #{birthday}
        WHERE id = #{id}
    </update>
    <select id="findAll" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM `user`
    </select>
    <select id="findById" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM `user`
        WHERE id = #{id}
    </select>
    <select id="findByUsernameAndPassword" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from `user`
        where username = #{username}
          and `password` = #{password}
    </select>
</mapper>