<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yx.dao.Table1Mapper">
  <resultMap id="BaseResultMap" type="com.yx.domain.Table1">
    <!--@mbg.generated-->
    <!--@Table table_1-->
    <id column="id" property="id" />
    <result column="name" property="name" />
    <result column="age" property="age" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, `name`, age
  </sql>
  <select id="findAll" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from table_1
    </select>
  <select id="findById" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from table_1
        where id=#{id,jdbcType=VARCHAR}
    </select>
</mapper>